*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.banner{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("candle.jpg");
	background-size: cover;
	background-position: center;
}
.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 120px;
	cursor: pointer;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color: #f5d6c3;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background: #f66106;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s
}
.navbar ul li:hover::after{
	width: 100%
}

main{
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container{
	position: relative;
	max-width: 430px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}
.container .forms{
	display: flex;
	align-items: center;
	height: 200px;
	width: 200%;
	transition: height 0.2s ease;
}
.container .form{
	width: 50%;
	padding: 30px;
	transition: margin-left 0.18s ease;
}
.container .form .title{
	position: relative;
	margin-left: 28px;
	font-size: 27px;
	font-weight: 600;
}
.form .title::before{
	content:'';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
}
.form .inputfield{
	position: relative;
	margin-top: 50px;
	width: 100%;
	margin-top: 30px;
}
.form .inputfield{
	position: relative;
	height: 50px;
	width: 90%;
	margin-top: 30px;
}
.inputfield input{
	/*position: absolute;*/
	height: 100%;
	width: 75%;
	padding: 0 25px;
	border: none;
	outline: none;
	font-size: 16px;
	border-bottom: 2px solid #24262b;
	border-top: 2px solid transparent;
	transition: all 0.5s ease;
}
.form .button{
	margin-top: 35px;
}
.form .button input{
	border: none;
	margin-left: 30px;
	letter-spacing: 1px;
	border-radius: 6px;
	background-color: #f66106;
	cursor: pointer;
	transition: all 0.5s ease;
	left: 30px;
}
.button input:hover{
	background-color: #a74305;
}
.form .inputfield .btn{
	text-transform: uppercase;
	color: #24262b;
}